html, body {
    max-width: 100%;
    font-size: 20px;
    background-color: 0xffffff;
    margin: 0px !important;
    padding: 0px !important;
}

#sidebarContent {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 1, 0);
}

p {
    margin: 5px;
    text-indent: 50px;
}

img {
    all: unset !important;
    border-radius: 25;
    width: unset !important;
    height: unset !important;
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    top: 0px !important;
    left: 0px !important;
}