html, body {
    max-width: 100%;
    font-size: 20px;
    background-color: #ffffff;
    margin: 0px !important;
    padding: 0px !important;
}

#sidebarContent {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 1, 0);
}

p {
    text-indent: 15px;
}

img {
    width: unset !important;
    height: unset !important;
    max-width: 100% !important;
    max-height: 900px !important;
    margin: 0 !important;
    padding: 0 !important;
    top: 0 !important;
    left: 0 !important;
}